.demo{
  width: 100px;
  height: 100px;
  background-color: gray;
  display: inline-block;
  margin: 10px;
}

.red, .MONSTER{
  background-color: red;
  color: white;
}

.green{
  background-color: green;
}

.blue, .PLAYER{
  background-color: blue;
  color: white;
}
