<!DOCTYPE html>
<html>
<head>
    <title>Monster Slayer</title>
    <script src="../javascripts/vue.js"></script>
    <link rel="stylesheet" href="../stylesheets/foundation.min.css">
    <link rel="stylesheet" href="../stylesheets/app.css">
</head>
<body>
<div id="app">
    <section class="row">
        <div class="small-6 columns">
            <h1 class="text-center">YOU</h1>
            <div class="healthbar">
                <div class="healthbar text-center" :style="yourHealthStyle">
                  <p>{{ yourHealth }}</p>
                </div>
            </div>
        </div>
        <div class="small-6 columns">
            <h1 class="text-center">MONSTER</h1>
            <div class="healthbar">
                <div class="healthbar text-center" :style="enemyHealthStyle">
                  <p>{{ enemyHealth }}</p>
                </div>
            </div>
        </div>
    </section>
    <section class="row controls" v-if="!newGame">
        <div class="small-12 columns">
            <button id="start-game" @click="newGame = !newGame">START NEW GAME</button>
        </div>
    </section>
    <template v-if="newGame">
    <section class="row controls">
        <div class="small-12 columns">
            <button id="attack">ATTACK</button>
            <button id="special-attack">SPECIAL ATTACK</button>
            <button id="heal">HEAL</button>
            <button id="give-up">GIVE UP</button>
        </div>
    </section>
    </template>
    <template v-if="battleStart">
    <section class="row log">
        <div class="small-12 columns">
            <ul>
                <li>

                </li>
            </ul>
        </div>
      </section>
    </template>
</div>
</body>
<script>
  new Vue({
    el: "#app",
    data: {
      enemyHealth: 100,
      yourHealth: 100,
      newGame: false,
      battleStart: false
    },
    computed: {
      yourHealthStyle: function(){
        return {
          backgroundColor: 'green',
          margin: 0,
          color: 'white',
          width: this.yourHealth + '%'
        }
      },
      enemyHealthStyle: function(){
        return {
          backgroundColor: 'green',
          margin: 0,
          color: 'white',
          width: this.enemyHealth + '%'
        }
      }
    },
    methods: {
    
    }
  });
</script>
</html>
