<html>
  <head>
    <title>Vue JS</title>
    <link rel="stylesheet" type="text/css" href="../stylesheets/style.css">
    <script src="../javascripts/vue.js"></script>
  </head>
  <body>
    <div id="app">
      <ul>
        <li v-for="(ingredient, i) in ingredients" :key="ingredient">{{ ingredient }} ({{ i }})</li>
      </ul>
      <hr>
      <ul>
        <li v-for="person in persons">
          <div v-for="(value, key, index) in person">
            {{ key }}: {{ value }} ({{ index }})
          </div>
        </li>
      </ul>
      <button @click="ingredients.push('spices')">Add New</button>
      <hr>
      <span v-for="n in 10">{{ n }}</span>
      <hr>
      <template v-for="(ingredient, index) in ingredients">
        <h1>{{ ingredient }}</h1>
        <p> {{ index }}</p>
      </template>
    </div>
  </body>
  <script>
    new Vue({
      el: "#app",
      data: {
        ingredients: ['meat', 'fruit', 'cookies'],
        persons:[
          {name: 'Max', age: 27, color: 'red'},
          {name: 'Anna', age: 'unknown', color: 'blue'}
        ]
      },
      methods: {
      
      }
    });
  </script>
</html>
